.header-wrapper .menu {
    width: 100%;
    background-color: #333;
    }
    .logo {
    color: #3D464D;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
    }
    
    .container {
    width: 1600px;
    margin: auto;
    }
    
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
    
      ul.nav-link li {
        float: left;
      }
      .menu ul.nav-link li a.active {
        background-color: #04AA6D;
      }
    
      ul.nav-link li {
        float: left;
    }
    
    ul.nav-link li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    ul.nav-link li a:hover:not(.active) {
        background-color: #04AA6D;
    }
    
    ul.nav-link li a.active {
        background-color:#04AA6D;
    }
    
    .banner img {
    width: 100%;
    
    }
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .header .right-top a {
        padding: 12px;
        height: 24px;
        text-decoration: none;
        color: #333;
    }
    .header .right-top a.active, .header .right-top a:hover {
        color: #04AA6D;
    }
    .content {
        min-height: 500px;
    }
    .footer {
        height: 40px;
        width: 100%;
        background-color: #333;
    }
    
    /* Login css */
           
              input {
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
              }
              /* Full-width inputs */
              input[type=text], input[type=password], input[type="email"], input[type="date"], select {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
              }
              
              /* Set a style for all buttons */
              button {
                background-color: #04AA6D;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
              }
              
              /* Add a hover effect for buttons */
              button:hover {
                opacity: 0.8;
              }
              
              /* Extra style for the cancel button (red) */
              .cancelbtn {
                width: auto;
                padding: 10px 18px;
                background-color: #f44336;
              }
              
              /* Center the avatar image inside this container */
              .imgcontainer {
                text-align: center;
                margin: 24px 0 12px 0;
              }
              
              /* Avatar image */
              img.avatar {
                width: 40%;
                border-radius: 50%;
              }
              
              /* Add padding to containers */
              .login-container {
                padding: 16px;
                width: 500px;
                margin: auto;
                padding: 20px;
              }
              
              /* The "Forgot password" text */
              span.psw {
                float: right;
                padding-top: 16px;
              }
              .error {
                  color: red;
              }
              /* Change styles for span and cancel button on extra small screens */
              @media screen and (max-width: 300px) {
                span.psw {
                  display: block;
                  float: none;
                }
                .cancelbtn {
                  width: 100%;
                }
              }