<div class="header-wrapper">
    <div class="container">
        <div class="header">
            <div class="logo">
               Client Meeting Scheduler
            </div>
            <!-- <div class="right-top">
                    <a (click)="logout()" *ngIf="isLoggedin">Logout</a>
            </div> -->
        </div>
    </div>
    <div class="menu">
        <div class="container d-flex justify-content-between align-items-center">
        <ul class="nav-link">
            <li><a routerLink="/login" *ngIf="!isUserLoggedIn()" routerLinkActive="active" 
                [routerLinkActiveOptions]={exact:true}>Login</a></li>
            <li><a  routerLink="/register" routerLinkActive="active" *ngIf="!isUserLoggedIn()">Create Client</a></li>
            <li><a routerLink="/home" routerLinkActive="active" *ngIf="isUserLoggedIn()">Home</a></li>
            <li><a routerLink="/schedule" routerLinkActive="active" *ngIf="isUserLoggedIn()">Schedule Meeting</a></li>
            <li><a  routerLink="/show-meetings/{{getLoggedinUser()}}" routerLinkActive="active" *ngIf="isUserLoggedIn()">Show All Meeting</a></li>
           
            </ul>
            <ul class="ml-auto">
                <li class="ml-auto"><a (click)="logout()" *ngIf="isLoggedin" class="btn btn-success">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
